#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: .4rem;
}

.current-app {
  display:flex;
}

#navbar {
  background-color: #96969685;
  display:flex;
  flex-direction:column;
  height: 500px;
  margin-right:10px;
}
#navbar button {
  margin-bottom: 7px;
}

#app {
  text-align: center;
  flex-grow: 1;
}